* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#characters img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px #00000033;
    transition: transform 0.3s ease-in-out;
}

#characters img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #00000066;
}


.flex-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.text-content {
    flex: 1;
    margin-right: 20px;
}

.video-container {
    flex: 0 0 auto; /* Mantiene el tamaño del video */
    max-width: 560px; /* Ancho máximo del video */
}

.video-container iframe {
    width: 100%; /* Hace que el video sea responsivo */
    height: auto; /* Mantiene la proporción del video */
}
