* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#characters img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px #00000033;
    transition: transform 0.3s ease-in-out;
}

#characters img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #00000066;
}